@import "../colors/colors.sass"
@import "../fonts/fonts"

.nav-btn
    outline: none
    border: none
    font-family: "Nunito_Extra_Bold", sans-serif
    transition: box-shadow 0.5s ease-in
    color: white
    background: transparent
    margin: 0 10px 0 10px
    font-size: 15px
    &.book
        width: 12rem
        height: 2rem
        border-radius: 30px
        background: rgba( 255, 255, 255, 0.15 )
        backdrop-filter: blur( 14.5px )
        -webkit-backdrop-filter: blur( 14.5px )

    &.drk-mode
        background: white
        width: 2rem
        height: 2rem
        border-radius: 50%

.hm-menu-nav-btn
    width: 150px
    height: 30px
    border-radius: 30px
    border: none
    font-size: 15px
    color: white
    font-family: "Nunito_Extra_Bold", sans-serif
    background: rgba( 255, 255, 255, 0.15 )
    backdrop-filter: blur( 14.5px )
    -webkit-backdrop-filter: blur( 14.5px )
    margin: 15px 0 15px 0