@import "../utils/mixin.sass"

.hm-txt-container, .hm-tp-spcl-container,.hm-wrk-hr-container, .hm-ads-container, .hm-contact-container
    width: 100%
    min-height: 100vh
    // border: 1px solid white
    color: white
    z-index: -1
    @include flex-center(column)    
    

.nav-container
    width: 100%
    // border: 1px solid red
    position: absolute
    background: transparent
    top: 10px
    color: white
    @include disable-highlight
    @include flex-center(row)

.hm-nav-scroll-container
    width: 7%
    position: fixed
    top: 50%
    left: 5%
    transform: translate(0, -50%)
    min-height: 50vh
    color: white
    z-index: 1
    @include flex-center(columns)

