@import "../fonts/fonts.sass"
@import "../colors/colors.sass"
@import "../utils/mixin.sass"

.nav-item-list
    @include flex-center(row)
    
.item
    text-decoration: none
    list-style-type: none

.item-link
    text-decoration: none
    color: white
    font-size: 12px
    font-weight: 100
    transition: all 0.5s ease-in
    &:hover
        color: $buff
