@import "../utils/mixin"

.nav-scroll-list
    width: 100%
    @include flex-center(column)
    .nav-scroll-item
        list-style-type: none
        
    .nav-scroll-link
        font-size: 10px
        text-decoration: none
        color: white