@import "../utils/mixin"

.tp-spcl-fd-description
    font-size: 10px
    font-family: "Proxima", sans-serif

.tp-spcl-paragrph
    font-family: "Proxima", sans-serif
    font-size: 10px
    letter-spacing: 0.5px