@import "../utils/mixin.sass"
    
.nav-item-wrpr,
.tp-spcl-carousel-wrpr, 
.item-wrpr, 
.nav-auth-btn-wrpr, 
.tp-spcl-wrpr, 
.tp-spcl-card-wrpr
    @include flex-center(row)

.tp-spcl-pagination-wrpr,
.tp-spcl-carousel-wrpr,
.tp-spcl-wrpr
    width: 100%

.hm-heading-wrpr,
.tp-spcl-pic-wrpr,
.tp-spcl-fd-info-wrpr,
.tp-spcl-card-wrpr,
.tp-spcl-pic-wrpr
    position: relative

.hm-wrpr
    width: 80%
    min-height: 80vh
    border-radius: 40px
    @include flex-center(row)
    transition: all 0.5s ease-in-out
    &:hover
        background: rgba( 255, 255, 255, 0.05 )
        backdrop-filter: blur( 2.5px )
        -webkit-backdrop-filter: blur( 2.5px )
        box-shadow: 2px 8px 17px 6px rgba(0,0,0,0.6)

.nav-logo-wrpr
    width: 5rem
    position: absolute
    left: 5%
    @include flex-center(colum)

.nav-item-wrpr
    width: 30%
    height: 2rem

.item-wrpr
    width: 5vh
    height: 5vh
    margin: 0 15px 0 15px
    background: transparent
    
.nav-auth-btn-wrpr
    width: 30vh
    position: absolute
    right: 5%


.hm-heading-wrpr
    width: 30%
    left: -5%

.tp-spcl-pic-wrpr
    bottom: 50px

.tp-spcl-list-wrpr
    width: 60%
    @include flex-left(column)
    

.tp-spcl-fd-info-wrpr
    width: 80%
    bottom: 4rem
    padding: 15px

.tp-spcl-card-wrpr
    width: 50%

.tp-spcl-pic-wrpr
    bottom: 3.5rem

.tp-spcl-ttl-wrpr
    width: 30%
    border: 1px solid white
    position: relative
    bottom: 100px
    @include flex-left(column)
    
    
.tp-spcl-pagination-wrpr
    padding: 15px 0 15px 0
    @include flex-center(colum)

    
    