@mixin flex-center($direction)
    display: flex
    flex-direction: $direction
    justify-content: center
    align-items: center
    
@mixin flex-right($direction)
    display: flex
    flex-direction: $direction
    justify-content: flex-end
    align-items: center

@mixin flex-left($direction)
    display: flex
    flex-direction: $direction
    justify-content: flex-start
    align-items: center

// Dynamic flex alignment mixin
// Parameters:
// $direction: Sets the flex direction. Options: 'row', 'column'.
// $justify: Sets the justification (alignment) along the main axis. Options: 'center', 'flex-start', 'flex-end'.

@mixin flex-align($direction, $justify)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: center // Aligns items along the cross axis

@mixin disable-highlight
    -webkit-user-select: none // Safari
    -moz-user-select: none // Firefox
    -ms-user-select: none // IE 10+
    user-select: none // Standard syntax
    
@mixin bubble-right($size)
    border-top-left-radius: $size
    border-top-right-radius: $size
    border-bottom-right-radius: $size
    
@mixin cirle-shape($size)
    width: $size
    height: $size
    border-radius: 50%

@mixin pill-shape($width, $height, $curve)
    width: $width
    height: $height
    border-radius: $curve
    
@mixin border-line($color)
    border: 1px solid $color


    